* {
    background-image: url(sf.png);
    background-size: 100% 800px;
    background-color: #F4F6F9; 
    background-attachment:scroll;
    background-clip: content-box;
}

hr {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(128, 128, 128);
    border-right-color: rgb(128, 128, 128);
    border-bottom-color: rgb(128, 128, 128);
    border-left-color: rgb(128, 128, 128);
    background-color: rgb(128, 128, 128);
    border-bottom-width: 0px;
}

form { 
    background-image: none;
    padding: 50px;
    background: #F4F6F9;
    position: absolute; top: 0%; left: 35%; right: 35%;
    border-radius: 2%;
   
}

.fields {
    display: block;
    background: #F4F6F9;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.fields input {
    display: inline-block;
    background-image: none;
    background-color: #F4F6F9;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -5px 5px 0;
    height: 35px;
    
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    margin-top: 5px;
}
.fields select {

    background-image: none;
    background-color: #F4F6F9;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -5px 5px 0;
    height: 35px;
    
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    margin-top: 5px;

}

.fields label {
    background-image: none;
    background-color: #F4F6F9;
    width: 100px;
    height: 15px;
}

.fields select option {
    background-color:  #F4F6F9;
}

.g-recaptcha {

    display: block;
    margin-block-end: 1em;
    transform:scale(0.95);
    background-color: #F4F6F9;
}

.b1 {

    background-image: none;
    background-color: #F4F6F9;
    border: 1px solid #84c6eb;
    font-size: 14px;
    height: 35px;

    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}