* {
    background-color: rgb(22, 50, 92);
    box-sizing: border-box;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

form { 
    padding: 50px;
    background: #F4F6F9;
    position: absolute; top: 0%; left: 35%;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    border-radius: 2%;

    }

.fields {
    display: block;
    background: #F4F6F9;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.fields input {
    display: inline-block;
    background-color: #F4F6F9;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -5px -5px 0;
    
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    margin-top: 20px;
}
.fields select {
    background-color: #F4F6F9;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -5px -5px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    margin-top: 20px;
}

.fields label {
    
    background-color: #F4F6F9;
    width: 100px;
    height: 15px;
}

.fields select option {
    background-color:  #F4F6F9;
}